<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= post.username %></h1>
    <form method="post" action="/Quora/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea> <br/>
        <button type="submit" class="button">submit</button>
    </form>
</body>
</html>